<footer>
    <div class="cols-1 col-xs-6 col-sm-6 col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2">
        <h3>Looking for Help</h3>
        <ul>
            <li><a href="#">Ticket Insurance</a></li>
            <li><a href="#">Methods of Delivery</a></li>
            <li><a href="#">Methods of Payment</a></li>
            <li><a href="#">Ticket Outlets</a></li>
            <li><a href="#">Newsletter</a></li>
        </ul>
    </div>

    <div class="cols-2 col-xs-6 col-sm-6 col-md-2 col-lg-2">
        <h3>Be Part Of It</h3>
        <ul>
            <li><a href="#">B2B Service</a></li>
            <li><a href="#">Affiliate Program</a></li>
            <li><a href="#">Logo & Style Guide</a></li>
            <li><a href="#">Accessible Tickets</a></li>
            <li><a href="#">Musical Tickets</a></li>
        </ul>
    </div>

    <div class="cols-3 col-xs-5 col-sm-5 col-md-2 col-lg-2">
        <h3>Corporate</h3>
        <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Imprint</a></li>
        </ul>
    </div>

    <div class="cols-4 footer-contact text-center col-xs-6 col-sm-6 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
        <a href="#">
            <img class="img-responsive" src="../images/logo/ticketmaster-logo-gray.png" alt="Ticket Master Logo">
        </a>

        <div class="socials">
            <p>Follow us on social media:</p>
            <div class="social-itemes">
                <a href="#"><div class="social telegram col-xs-2 col-sm-2 col-md-2 col-lg-2"></div></a>
                <a href="#"><div class="social instagram col-xs-2 col-sm-2 col-md-2 col-lg-2"></div></a>
                <a href="#"><div class="social linkedin col-xs-2 col-sm-2 col-md-2 col-lg-2"></div></a>
                <a href="#"><div class="social twitter col-xs-2 col-sm-2 col-md-2 col-lg-2"></div></a>
                <a href="#"><div class="social facebook col-xs-2 col-sm-2 col-md-2 col-lg-2"></div></a>
            </div>
        </div>

        <p class="copy-right">© 1999-2021 Ticketmaster. All rights reserved.</p>
    </div>
</footer>