<header>
    <nav class="trans-navbar navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand col-1" href="#">
                <img class="img-responsive" src="../images/logo/ticketmaster-logo-green.png" alt="Ticket Master Logo">
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="login">
                    <div>Login</div>
                </a></li>
                <li class="lang-li"><a class="lang-change">
                    <div>EN</div>
                </a></li>
            </ul>

            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
    </nav>
</header>